body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0d0d0d;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el video detrás del contenido */
    object-fit: cover; /* Asegura que el video cubra toda la pantalla */
}

.dashboard-container, .dashboard-container1 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9); /* Sombra más fuerte */
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
}

.user-fichas h2, .dashboard-container1 h1, .dashboard-container h1 {
    color: #ffffff;
    font-size: 2rem;
}

.fichas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsividad */
    gap: 20px;
    padding: 10px;
}

.fichas-grid a {
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    color: #00ffdd;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fichas-grid a:hover {
    background-color: #0045e6;
    color: #ffffff;
}

.fichas-grid-opciones {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap; /* Por si no cabe en pantallas pequeñas */
}

.admin-links {
    display: flex;
    gap: 30px; /* Separación entre los enlaces */
}

.boton-enlace {
    background-color: #333;
    border: none;
    color: #00ffdd;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.boton-enlace:hover {
    background-color: #00ffdd;
    color: #000;
}


button {
    background-color: #333;;
    border: none;
    color: #00ffdd;;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0045e6;
}

button:focus {
    outline: none;
}

.dados-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .dados img.dado {
    width: 80px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .dados img.dado:hover {
    transform: scale(1.1);
  }

  .dado.girando {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .fichas-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajustar para pantallas más pequeñas */
    }

    .dashboard-container, .dashboard-container1 {
        margin-left: 10px;
        margin-right: 10px;
    }
}
